<img src="http://nebula.wsimg.com/67d180e5d37bb758beef012b2f2070bb?AccessKeyId=FAE2ADC6D14BAEAC9655&disposition=0&alloworigin=1" class="homeBackGround">
    <body>
        <div id="nav">
            <ul>
                <li><a href="#home">Show Pony Wines</a></li>
                <li><a href="#wines">Wines</a></li>
                <li><a href="#shop">Shop</a></li>
                <li><a href="#locations">Locations</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </body>
</html>