// Place all the styles related to the navigationController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#home_nav {
    height: 415px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
}

#home_nav ul {
    list-style-type: none;
    width: 960; margin: 0 auto; padding: 0;
    overflow: hidden;
}

#home_nav li {
    width: 192px;
    display: inline-block;
}

#home_nav a {
    color: #000000;
    text-decoration:none;
}